* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto', sans-serif;

	font-size: 62.5%;
}
body {
	background-color: $black;
	font-size: 1.6rem;
	font-weight: 400;
}
// canvas {
// 	margin: auto;
// }

.container {
	// width: 37.5rem;
	// height: 81rem;
	width: 100vw;
	height: 100vh;
	// height: clamp(55rem, 100vh, 100vh);
	width: clamp(32rem, 100vw, 100vw);
	background-color: rgb(83, 83, 83);
	// border: 1rem solid $primary-color;
	// border-radius: 5rem;
	margin: auto;
	overflow: hidden;
	position: relative;
	.background {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url('../images/tv_bg-sm-min.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;
		opacity: 0.2;
		mix-blend-mode: luminosity;
	}
	.section {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		// z-index: 10;
		h1 {
			color: $primary-color;
		}
	}
}
h1 {
	// font-family: 'Sedgwick Ave Display', cursive;
	// font-family: 'BadSignal';
	// color: $white;
	font-size: 4rem;
	font-family: 'BadSignal';
	letter-spacing: 0.3rem;
}
h2 {
	color: $white;
	text-transform: capitalize;
	font-size: 2rem;
	font-weight: 400;
}
h3 {
	text-transform: uppercase;
	color: $primary-color;
	font-size: 1.4rem;
	font-weight: 800;
}
h5 {
	color: $txt-grey;
	font-size: 1.6rem;
}

.circle-wrapper {
	cursor: pointer;
	background: $circle-bg;
	// border: 4px solid #464646;
	border-radius: 50%;
	box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25),
		4px 4px 4px rgba(0, 0, 0, 0.25);
}
.fas {
	color: $txt-grey;
}
// .shadow {
// 	// box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.25);
// }
.progress-time {
	font-size: 1.2rem;
	color: $txt-grey;
}
