.landing {
	height: 100%;
	width: 100%;

	// @include flex(flex-end, center, column);
	@include flex(space-between, center, column);
	display: none;
	// background-color: yellow;
	.circle-wrapper {
		height: 10rem;
		width: 10rem;
		position: relative;
		cursor: pointer;
		margin: 5rem auto;

		.fa-play {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-40%, -50%);
			color: rgb(190, 190, 190);
			font-size: 4rem;
		}
	}
	.brand-wrapper {
		// border: 2px solid $primary-color;
		padding: 2rem;
		// text-align: center;
		border: 2px solid $bg-grey;
		background-color: $primary-color;
		margin-right: 15rem;
		width: 100%;
		padding: 2rem 4rem;
		text-align: right;
		transform: rotate(-2.5deg);
		margin-top: 8rem;
		border-radius: 1rem;
		// transform: rotate(-20deg);
		h1#brand {
			font-size: 3rem;
			color: $white;
			font-family: unset;
			text-transform: uppercase;
		}
	}
	.artist-launch-container {
		transform: rotate(-2.5deg);
		img {
			border: 2px solid $primary-color;
			border-radius: 1rem;
		}
	}
	.launch-wrapper {
		border: 2px solid $bg-grey;
		background-color: $primary-color;
		margin-left: 15rem;
		width: 100%;
		padding: 2rem 4rem;
		text-align: left;
		transform: rotate(-2.5deg);
		margin-bottom: 8rem;
		border-radius: 1rem;
		.launch-btn {
			// width: 100%;
			color: $white;
			font-size: 3rem;
			font-weight: 800;
		}
	}
	.circle-wrapper#lets-rock {
		border: 0.5rem solid $primary-color;
	}
	#brand {
		// margin: 10rem auto;
		// margin: 5rem auto;
		// color: rgb(190, 190, 190);
		// font-size: 6rem;
		// text-transform: uppercase;
		// letter-spacing: 0.2rem;
	}
}
