.content-wrapper {
	.media-container.media-cd {
		display: none;
	}
	.media-container.media-cd.media-active {
		display: grid;
		place-content: center;
		.circle-wrapper.record {
			height: 20rem;
			width: 20rem;
			display: grid;
			place-content: center;
			.cover {
				height: 20rem;
				width: 20rem;
				border-radius: 50%;
				animation: rotate 10s linear infinite;
				animation-play-state: paused;
			}
		}
		.circle-wrapper.record.play .cover {
			animation-play-state: running;
		}
	}
}
