.content-wrapper {
	.media-container.media-turntable {
		display: none;
	}
	.media-container.media-turntable.media-active {
		// background-color: blue;
		display: grid;
		place-content: center;
		#turntable {
			background-color: $bg-grey;
			// width: 80vw;
			width: 28rem;
			// width: 80%;
			height: 22rem;
			border-radius: 2rem;
			position: relative;
			box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25),
				4px 4px 4px rgba(0, 0, 0, 0.55);
			.circle-wrapper.lp-table {
				position: absolute;
				top: 50%;
				left: 2rem;
				transform: translate(0, -50%);
				height: 20rem;
				width: 20rem;
				display: grid;
				place-content: center;
				.black-vinyl {
					height: 20rem;
					width: 20rem;
					border-radius: 50%;
					position: absolute;
				}
				.cover {
					height: 6rem;
					width: 6rem;
					border-radius: 50%;
					animation: rotate 10s linear infinite;
					animation-play-state: paused;
				}
				// .vinyl-wrapper {
				// 	height: 20rem;
				// 	width: 20rem;
				// 	border-radius: 50%;
				// 	// animation: rotate 10s linear infinite;
				// 	// animation-play-state: paused;
				// 	position: relative;
				// 	.black-vinyl {
				// 		height: 20rem;
				// 		width: 20rem;
				// 		border-radius: 50%;
				// 		position: absolute;
				// 	}
				// 	#vinyl-label {
				// 		height: 6rem;
				// 		width: 6rem;
				// 		border-radius: 50%;
				// 		position: absolute;
				// 		top: 50%;
				// 		left: 50%;
				// 		transform: translate(-50%, -50%);
				// 	}
				// }
			}
			.circle-wrapper.lp-table.play .cover {
				animation-play-state: running;
			}
			.record-player-arm {
				position: absolute;
				top: 0;
				left: 20rem;
				height: 22rem;
				width: 8rem;
				padding-top: 4rem;
				// background-color: lemonchiffon;
				// transform: rotate(30deg);
				// transform-origin:  2rem;
				// animation: playRecord 10s ease infinite;
				.arm-wrapper {
					position: relative;
					// margin-top: 4rem;
					// transform: rotate(2deg);
					animation: playRecord 60s ease infinite;
					#player-arm {
						position: absolute;
						height: 16rem;
						top: -1.4rem;
						left: 0;
						transform: translate(-25%, 0);
					}
				}
				// #player-arm {
				// 	height: 16rem;
				// 	margin-top: 3rem;
				// 	// transform: rotate(-10deg);

				// 	// transform-origin: center 2rem;
				// 	// animation: playRecord 10s ease infinite;

				// }
			}
		}
		// .record-player {
		// 	background-color: $bg-grey;
		// 	width: 100%;
		// 	// width: 40%;
		// 	// width: calc(50vw + 10rem);
		// 	height: 22rem;
		// 	border-radius: 1rem 0 0 1rem;
		// 	padding: 1rem;
		// 	// right: 0;
		// 	// @include flex(flex-start, center, row);
		// 	position: relative;
		// 	.circle-wrapper.vinyl {
		// 		position: absolute;
		// 		height: 20rem;
		// 		width: 20rem;
		// 		top: 50%;
		// 		left: 50%;
		// 		transform: translate(-11rem, -50%);
		// 		#cover1 {
		// 			// position: absolute;
		// 			height: 20rem;
		// 			width: 20rem;
		// 			top: 50%;
		// 			left: 50%;
		// 			transform: translate(-50%, -50%);
		// 			border-radius: 50%;
		// 			animation: rotate 10s linear infinite;
		// 			animation-play-state: paused;
		// 			// position: relative;
		// 		}
		// 		#cover {
		// 			z-index: 60;
		// 			position: absolute;
		// 			height: 6rem;
		// 			width: 6rem;
		// 			top: 7rem;
		// 			left: 7.2rem;
		// 			// transform: translate(-50%, -50%);
		// 			border-radius: 50%;
		// 			animation: rotate 10s linear infinite;
		// 			animation-play-state: paused;
		// 			// position: relative;
		// 		}
		// 		// .vinyl-label {
		// 		// 	position: absolute;
		// 		// 	height: 5rem;
		// 		// 	width: 5rem;
		// 		// 	top: 10rem;
		// 		// 	left: 10rem;
		// 		// 	transform: translate(-50%, -50%);
		// 		// 	z-index: 1;
		// 		// 	border-radius: 50%;
		// 		// }
		// 		// #cover {
		// 		// 	// position: absolute;

		// 		// 	animation: rotate 10s linear infinite;
		// 		// 	animation-play-state: paused;
		// 		// }
		// 	}
		// 	.circle-wrapper.vinyl.play #vinyl-record {
		// 		animation-play-state: running;
		// 	}
		// 	.record-player-arm {
		// 		position: absolute;
		// 		top: 60%;
		// 		left: 50%;
		// 		transform: translate(-50%, -50%);
		// 		left: calc(50vw + 10rem);
		// 		height: 20rem;
		// 		overflow: visible;
		// 		// position: relative;
		// 		z-index: 50;
		// 		#player-arm {
		// 			// position: absolute;
		// 			// top: 50%;
		// 			// left: -2rem;
		// 			// transform: translate(0, -50%);
		// 			height: 80%;
		// 			// z-index: 20;
		// 		}
		// 	}
		// }
	}
}
@keyframes playRecord {
	0% {
		transform: rotate(-10deg);
	}
	5% {
		transform: rotate(2deg);
	}
	90% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}
