.content-wrapper {
	.media-container.media-cd {
		display: none;
	}
	.media-container.media-cd.media-active {
		// height: 100%;
		// width: 100%;
		// background-color: red;
		// padding: 1rem 2rem;
		display: grid;
		// display: none;
		place-content: center;
		// @include flex(space-between, center, column);
		.circle-wrapper.record {
			height: 20rem;
			width: 20rem;
			display: grid;
			place-content: center;
			.cover {
				height: 20rem;
				width: 20rem;
				border-radius: 50%;
				animation: rotate 10s linear infinite;
				animation-play-state: paused;
			}
		}
		.circle-wrapper.record.play .cover {
			animation-play-state: running;
		}
	}
}
