.container {
	.tv-loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		width: 100%;
		height: 100%;
		background-color: $black;
		display: grid;
		place-content: center;
		z-index: 500;
		.tv-wrapper {
			// border: 1px solid green;
			position: relative;
			width: 200px;
			height: 239px;
			img#tv-signal {
				position: absolute;
				top: 120px;
				left: 28px;
				width: 110px;
				height: 50px;
			}
			img#terror-tv {
				position: absolute;
				top: 0;
				left: 0;
				width: 200px;
				z-index: 100000;
			}
		}
	}
}
