$primary-color: #d71313;

$bg-grey: #36383a;
$bg-light-grey: #c4c4c4;
$txt-grey: #a8a6a6;

$circle-border: #36383a;
$circle-bg: #3b4045;

$line-border: #494a49;

$tape-grey: #2d2e31;

$white: white;
$black: black;
