@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: black;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  width: 100vw;
  height: 100vh;
  width: clamp(32rem, 100vw, 100vw);
  background-color: #535353;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.container .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/tv_bg-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  opacity: 0.2;
  mix-blend-mode: luminosity;
}

.container .section {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container .section h1 {
  color: #d71313;
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
}

h2 {
  color: white;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  color: #d71313;
  font-size: 1.4rem;
  font-weight: 800;
}

h5 {
  color: #a8a6a6;
  font-size: 1.6rem;
}

.circle-wrapper {
  cursor: pointer;
  background: #3b4045;
  border-radius: 50%;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.fas {
  color: #a8a6a6;
}

.progress-time {
  font-size: 1.2rem;
  color: #a8a6a6;
}

.container .loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
  background-color: black;
  display: -ms-grid;
  display: grid;
  place-content: center;
  z-index: 500;
}

.container .loader .loader-wrapper {
  height: 20rem;
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .loader .loader-wrapper .rock-on {
  font-size: 3rem;
  color: #d71313;
  margin-bottom: 2rem;
  -webkit-animation: letsRock 10s linear forwards;
          animation: letsRock 10s linear forwards;
}

.container .loader .loader-wrapper .vol-level {
  height: 5rem;
  overflow: hidden;
  margin: 1rem 0;
}

.container .loader .loader-wrapper .vol-level #loader-list {
  width: 60%;
  margin: auto;
  -webkit-animation: numbers 10s linear forwards;
          animation: numbers 10s linear forwards;
}

.container .loader .loader-wrapper .vol-level #loader-list .loader-nums {
  color: #a8a6a6;
  font-size: 5rem;
  height: 7.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .loader .loader-wrapper .vol-dial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 8rem;
}

.container .loader .loader-wrapper .vol-dial .vol-num {
  width: 2rem;
  place-self: flex-end;
  padding-bottom: 0.5rem;
  text-align: right;
  color: #a8a6a6;
}

.container .loader .loader-wrapper .vol-dial .vol-num:last-child {
  text-align: left;
}

.container .loader .loader-wrapper .vol-dial .dial-wrapper .dial {
  position: relative;
  background-color: #a8a6a6;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-animation: turnItUp 10s linear forwards;
          animation: turnItUp 10s linear forwards;
}

.container .loader .loader-wrapper .vol-dial .dial-wrapper .dial div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #8b8b89;
}

.container .loader .loader-wrapper .vol-dial .dial-wrapper .dial::before {
  position: absolute;
  content: '';
  height: 1rem;
  width: 2rem;
  bottom: 1rem;
  left: 0;
  background-color: #a8a6a6;
}

@-webkit-keyframes turnItUp {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  80% {
    -webkit-transform: rotate(245deg);
            transform: rotate(245deg);
  }
  99%,
  100% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
}

@keyframes turnItUp {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  80% {
    -webkit-transform: rotate(245deg);
            transform: rotate(245deg);
  }
  99%,
  100% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
}

@-webkit-keyframes numbers {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50%,
  80% {
    -webkit-transform: translateY(-85%);
            transform: translateY(-85%);
  }
  99%,
  100% {
    -webkit-transform: translateY(-94%);
            transform: translateY(-94%);
  }
}

@keyframes numbers {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50%,
  80% {
    -webkit-transform: translateY(-85%);
            transform: translateY(-85%);
  }
  99%,
  100% {
    -webkit-transform: translateY(-94%);
            transform: translateY(-94%);
  }
}

@-webkit-keyframes letsRock {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes letsRock {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.landing .circle-wrapper {
  height: 10rem;
  width: 10rem;
  position: relative;
  cursor: pointer;
  margin: 5rem auto;
}

.landing .circle-wrapper .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  color: #bebebe;
  font-size: 4rem;
}

.landing .brand-wrapper {
  padding: 2rem;
  border: 2px solid #36383a;
  background-color: #d71313;
  margin-right: 15rem;
  width: 100%;
  padding: 2rem 4rem;
  text-align: right;
  -webkit-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
  margin-top: 8rem;
  border-radius: 1rem;
}

.landing .brand-wrapper h1#brand {
  font-size: 3rem;
  color: white;
  font-family: unset;
  text-transform: uppercase;
}

.landing .launch-wrapper {
  border: 2px solid #36383a;
  background-color: #d71313;
  margin-left: 15rem;
  width: 100%;
  padding: 2rem 4rem;
  text-align: left;
  -webkit-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
  margin-bottom: 8rem;
  border-radius: 1rem;
}

.landing .launch-wrapper .launch-btn {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.landing .circle-wrapper#lets-rock {
  border: 0.5rem solid #d71313;
}

.now-playing {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.now-playing header {
  height: 8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 2rem;
  position: relative;
}

.now-playing header .circle-wrapper {
  height: 5rem;
  width: 5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: #3b4045;
  border: 0.3rem solid #36383a;
}

.now-playing header .circle-wrapper .fa-angle-left {
  font-size: 3rem;
}

.now-playing header .circle-wrapper .fa-bars {
  font-size: 2.2rem;
}

.now-playing header #menu {
  position: relative;
}

.now-playing header #menu #media-burger {
  z-index: 50;
}

.now-playing .content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.now-playing .content-wrapper .media-container {
  height: 25rem;
  width: 100%;
}

.now-playing .content-wrapper .progress-container {
  height: 4rem;
  margin: 1rem 0;
}

.now-playing .content-wrapper .visualyser-container {
  height: 12rem;
}

.now-playing footer {
  height: 16rem;
  width: 100%;
  background-color: #3b4045;
  border-top: 0.4rem solid #d71313;
}

.now-playing footer .song-details {
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

.now-playing footer .player-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.now-playing footer .player-controls .action-btn {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  margin: 0 20px;
}

.now-playing footer .player-controls #play {
  background-color: #d71313;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  color: white;
  background: radial-gradient(91.67% 91.67% at 50% 50%, #a90808 0%, #d71313 48.84%, rgba(169, 8, 8, 0) 59.03%);
  border: 0.4rem solid #36383a;
}

.now-playing footer .player-controls .fa-pause,
.now-playing footer .player-controls .fa-play {
  color: white;
}

.now-playing footer .player-controls .action-btn.action-btn-big {
  color: white;
  font-size: 30px;
}

.now-playing footer .player-controls .action-btn:focus {
  outline: 0;
}

header .media-menu {
  position: absolute;
  top: -7rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 6.5rem;
  border-radius: 0 0 1rem 1rem;
  width: calc(100% - 16rem);
  background-color: #d71313;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}

header .media-menu #media-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.5rem;
  list-style: none;
}

header .media-menu #media-menu li {
  cursor: pointer;
}

.content-wrapper .media-container.media-default {
  display: none;
}

.content-wrapper .media-container.media-default.media-active {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: 0.5s ease linear;
  transition: 0.5s ease linear;
}

.content-wrapper .media-container.media-default.media-active .default-cover {
  height: 20rem;
  border-radius: 2rem;
  margin: 0;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.55);
          box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.55);
}

.content-wrapper .media-container.media-turntable {
  display: none;
}

.content-wrapper .media-container.media-turntable.media-active {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.content-wrapper .media-container.media-turntable.media-active #turntable {
  background-color: #36383a;
  width: 28rem;
  height: 22rem;
  border-radius: 2rem;
  position: relative;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.55);
          box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.55);
}

.content-wrapper .media-container.media-turntable.media-active #turntable .circle-wrapper.lp-table {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 20rem;
  width: 20rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.content-wrapper .media-container.media-turntable.media-active #turntable .circle-wrapper.lp-table .black-vinyl {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: absolute;
}

.content-wrapper .media-container.media-turntable.media-active #turntable .circle-wrapper.lp-table .cover {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.content-wrapper .media-container.media-turntable.media-active #turntable .circle-wrapper.lp-table.play .cover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.content-wrapper .media-container.media-turntable.media-active #turntable .record-player-arm {
  position: absolute;
  top: 0;
  left: 20rem;
  height: 22rem;
  width: 8rem;
  padding-top: 4rem;
}

.content-wrapper .media-container.media-turntable.media-active #turntable .record-player-arm .arm-wrapper {
  position: relative;
  -webkit-animation: playRecord 60s ease infinite;
          animation: playRecord 60s ease infinite;
}

.content-wrapper .media-container.media-turntable.media-active #turntable .record-player-arm .arm-wrapper #player-arm {
  position: absolute;
  height: 16rem;
  top: -1.4rem;
  left: 0;
  -webkit-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
}

@-webkit-keyframes playRecord {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  5% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  90% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes playRecord {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  5% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  90% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.content-wrapper .media-container.media-cd {
  display: none;
}

.content-wrapper .media-container.media-cd.media-active {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.content-wrapper .media-container.media-cd.media-active .circle-wrapper.record {
  height: 20rem;
  width: 20rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.content-wrapper .media-container.media-cd.media-active .circle-wrapper.record .cover {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.content-wrapper .media-container.media-cd.media-active .circle-wrapper.record.play .cover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.content-wrapper .media-container.media-cassette {
  display: none;
}

.content-wrapper .media-container.media-cassette.media-active {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.content-wrapper .media-container.media-cassette.media-active #cassette {
  width: 34rem;
  height: 22rem;
  border-radius: 1rem;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.55);
          box-shadow: -4px -4px 4px rgba(171, 171, 171, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-top {
  height: 5.4rem;
  background-color: #36383a;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  padding: 0.5rem 2rem;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-top .tc-header {
  color: #2d2e31;
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-weight: 800;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-top .tc-label {
  background-color: #c4c4c4;
  width: 100%;
  border-radius: 0.5rem;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-top .tc-label .tape-title {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  color: #d71313;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2.2rem;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-reels {
  height: 13.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-left: 2rem solid #36383a;
  border-right: 2rem solid #36383a;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-reels .reel .tape {
  height: 100%;
  width: 100%;
  background-color: #1d1301;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-animation: playTape 5s linear infinite;
          animation: playTape 5s linear infinite;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-reels .reel .tape .spindle {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: white;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-reels .reel .tape #left-spindle {
  background-image: url("../images/reel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: center;
  background-size: 6rem;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-reels .reel .tape #right-spindle {
  background-image: url("../images/reel-r.png");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: center;
  background-size: 6rem;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-reels #left-reel {
  position: absolute;
  height: 16rem;
  width: 16rem;
  top: 50%;
  left: -1.5rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-reels #right-reel {
  position: absolute;
  height: 16rem;
  width: 16rem;
  top: 50%;
  right: -1.5rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-bottom {
  height: 5.4rem;
  background-color: #36383a;
  position: relative;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-bottom .tc-footer {
  position: absolute;
  top: 50%;
  right: 1rem;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
  padding: 0.1rem 0.4rem;
  color: #2d2e31;
  border: 1.5px solid #2d2e31;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-bottom .tc-base {
  position: absolute;
  width: 80%;
  height: 4.4rem;
  left: 50%;
  bottom: -0.5rem;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-bottom: 4.4rem solid #2d2e31;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-radius: 0.5rem;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-bottom .tc-base::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 4rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background-color: #222121;
}

.content-wrapper .media-container.media-cassette.media-active #cassette .tc-bottom .tc-base::after {
  content: '';
  position: absolute;
  top: 2rem;
  right: 4rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background-color: #222121;
}

@-webkit-keyframes playTape {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes playTape {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.progress-container {
  width: 100%;
  border-top: 0.4rem solid #494a49;
  border-bottom: 0.4rem solid #494a49;
  border-top: 0.2rem solid #36383a;
  border-bottom: 0.2rem solid #36383a;
  padding: 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.progress-container .progress-wrapper {
  background-color: #36383a;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem 2rem;
  height: 1rem;
  width: 100%;
}

.progress-container .progress-wrapper .progress {
  background-color: #d71313;
  border-radius: 0.5rem;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.visualyser-container {
  position: relative;
  width: 100%;
  height: 12rem;
}

.visualyser-container #container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visualyser-container #container #canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}

.visualyser-container #container #audio1 {
  width: 50%;
  margin: 5rem auto;
  display: block;
}

.visualyser-container #container #file-upload {
  position: absolute;
  top: 0;
  color: white;
  z-index: 10;
}

.section-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-height: 670px) {
  .visualyser-container {
    display: none;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */